* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-lg);
  letter-spacing: 1.4;
  line-height: 140%;
  color: var(--light);
  background-color: var(--dark);
  overflow-x: hidden;
}

#overlay {
  position: relative;
  z-index: 0;
}

/* Header */
header {
  color: var(--light);
  background-color: var(--federal-blue);
  margin: auto;
  padding: 25px 10%;
  width: 100vw;
  height: 125px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  transition: var(--transition);
    display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
}

nav a,
footer a {
  color: var(--light);
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
}

section a {
  color: var(--dark);
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
}

nav a:not(.resume-link)::after,
section a:not(.image-link)::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  position: relative;
  bottom: 0;
  background-color: var(--robin-egg-blue);
  transition: var(--transition);
}

nav .nav__logo a::after {
  height: 0px;
}

nav a:hover,
footer a:hover {
  color: var(--light);
  outline: 0px;
}

nav a:focus,
nav a:focus-visible,
section a:focus,
section a:focus-visible,
footer a:focus,
footer a:focus-visible {
  outline: 2px dotted red;
  outline-offset: 5px;
}

section a:hover {
  color: var(--dark);
  outline: 0px;
}

nav a:hover::after,
section a:hover::after,
footer a:hover::after {
  width: 100%;
}

.nav__links,
.nav__links > *:not(.resume-link) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.nav__menu {
  display: none;
}

.nav__menu button {
  display: flex;
  position: relative;
  cursor: pointer;
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
  color: var(--light);
  font-size: 2rem;
  z-index: 20;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: opactity, filter;
}

.nav__menu--sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background-color: var(--federal-blue);
  z-index: 10;
  transform: translateX(100vw);
  transition: var(--transition);
  visibility: hidden;
}

.nav-open .nav__menu--sidebar {
  transform: translateX(0);
  transition: var(--transition);
  visibility: visible;
}

.nav__menu--sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav__menu--sidebar ul {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.nav__menu--sidebar ul li {
  margin-bottom: 35px;
}

.nav__logo {
  z-index: 99;
}

.nav__logo img {
  width: 82px;
  height: 75px;
}

.resume-link {
  padding: 1rem 2rem;
  border: 2px solid var(--robin-egg-blue);
  border-radius: 5px;
  text-decoration: none;
  transition: var(--transition);
}

.resume-link:hover {
  background: rgba(256, 256, 256, 0.2);
  transition: var(--transition);
}

.hamburger__menu__box {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 24px;
}

.hamburger__menu__box--inner {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--robin-egg-blue);
  transition: var(--hamburger-transition);
  transform: rotate(0deg);
}

.hamburger__menu__box--inner::before,
.hamburger__menu__box--inner::after {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--robin-egg-blue);
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}

.hamburger__menu__box--inner::before {
  width: 120%;
  top: -10px;
  opacity: 1;
  transition: var(--hamburger-transition-before);
}

.hamburger__menu__box--inner::after {
  width: 80%;
  bottom: -10px;
  transform: rotate(0deg);
  transition: var(--hamburger-transition-after);
}

.nav-open .hamburger__menu__box--inner {
  transition: var(--hamburger-transition-active);
  transform: rotate(225deg);
}

.nav-open .hamburger__menu__box--inner::before {
  width: 100%;
  top: 0px;
  opacity: 0;
  transition: var(--hamburger-transition-before-active);
}

.nav-open .hamburger__menu__box--inner::after {
  width: 100%;
  bottom: 0px;
  transform: rotate(-90deg);
  transition: var(--hamburger-transition-after-active);
}

.scrolled {
  box-shadow: 0 10px 20px -10px var(--shadow);
  border-bottom: 1px solid var(--shadow);
}

/* Main */
main {
  margin: auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 10%;
  scroll-margin-top: 124px;
  position: relative;
  z-index: 1;
}

#hero {
  position: relative;
  background-color: var(--light);
  color: var(--dark);
  z-index: 1;
  overflow-x: hidden;
  margin-top: 125px;
  min-height: calc(100vh - 125px);
}

#hero h1 {
  margin: 1rem 0;
}

#hero h2, #about h2 {
  margin-bottom: 2rem;
}

#about {
  background-color: var(--ultra-violet);
  color: var(--light);
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

#projects {
  background-color: var(--light);
  color: var(--dark);
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

#contact {
  background-color: var(--dark);
  color: var(--light);
  min-height: calc(100vh - 225px);
  padding-bottom: 0px;
}

#projectPage {
  background-color: var(--light);
  color: var(--dark);
  min-height: calc(100vh - 125px);
  margin-top: 125px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#projectPage .container {
  align-items: flex-start;
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  margin: 32px 0;
}

.projects__card {
  flex-basis: 31%;
  align-self: stretch;
  border: 2px solid var(--silver);
  border-radius: 25px;
  max-width: 800px;
  background-color: var(--light);
  color: var(--dark);
  box-shadow: 0 15px 30px -10px var(--shadow);
}

.projects__card img {
  border-radius: 23px 23px 0 0;
}

.projects__card p:not(.link) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.contact-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.contact-social [class^="contact-social__"] {
  text-align: center;
}

.contact-social a {
  color: var(--light);
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
}

.contact-social a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  position: relative;
  bottom: 0;
  background-color: var(--robin-egg-blue);
  transition: var(--transition);
}

.contact-social a:hover {
  color: var(--light);
  outline: 0px;
}

.contact-social a:hover::after {
  width: 100%;
}

.contact-social a i {
  color: var(--light);
  text-decoration: none;
  font-size: 48px;
}

/* Footer */
footer {
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
  min-height: 100px;
}

footer a {
  color: var(--light);
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
}

footer a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  position: relative;
  bottom: 0;
  background-color: var(--robin-egg-blue);
  transition: var(--transition);
}

footer a:hover {
  color: var(--light);
  outline: 0px;
}

footer a:hover::after {
  width: 100%;
}

footer p {
  margin: 0 0 10px 0;
}

/* Utility */
i {
  font-style: normal;
}

.blur {
  filter: blur(5px);
}

.callout {
  margin: 2em auto;
  text-align: center;
  font-size: 6em;
}

.colorize--white {
  filter: invert(96%) sepia(99%) saturate(15%) hue-rotate(96deg)
    brightness(106%) contrast(100%);
}

.colorize--blue {
  filter: invert(9%) sepia(40%) saturate(4847%) hue-rotate(230deg)
    brightness(87%) contrast(111%);
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.container__content {
  flex-basis: 50%;
}

.pentagon {
  position: absolute;
  top: 0;
  right: -30vh;
  height: 100%;
  width: 100vh;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%233b98d1' height='1500px' width='1500px' version='1.1' id='Layer_1' viewBox='0 0 512.01 512.01' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M507.804 200.28L262.471 12.866c-3.84-2.923-9.131-2.923-12.949 0L4.188 200.28c-3.605 2.773-5.077 7.531-3.648 11.84 l93.717 281.92c1.451 4.373 5.525 7.296 10.133 7.296h303.253c4.587 0 8.683-2.944 10.133-7.296l93.717-281.92 C512.882 207.789 511.41 203.053 507.804 200.28z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  z-index: -1;
}

.scrolltop {
  display: none;
  position: fixed;
  width: 0;
  height: 0;
  bottom: 1.64286rem;
  right: 50px;
  padding: 0;
  overflow: hidden;
  outline: none !important;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 50%;
  background: var(--robin-egg-blue);
  transition: var(--transition);
}

.scrolltop:hover {
  text-decoration: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.scrolltop.reveal {
  display: block;
  width: 4rem;
  height: 4rem;
  z-index: 99;
}

.scrolltop i {
  display: block;
  font-size: 2.5rem;
  color: var(--dark);
}

.skip-nav {
  position: absolute;
  left: 45%;
  transform: translateY(-100%);
  background-color: var(--celestial-blue);
  color: var(--light);
  padding: 10px;
  transition: var(--transition);
  z-index: 500;
}

.skip-nav:focus {
  transform: translateY(0%);
}

.tag {
  font-size: var(--font-size);
  line-height: 160%;
  letter-spacing: 0.03rem;
}

.visually-hidden {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1;
  width: 1;
  margin: -1;
  padding: 0;
  border: 0;
}

/* Media Queries */
@media screen and (max-width: 1429px) {
  .projects__card {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 1250px) {
  .projects__card {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 767px) {
  body {
    position: relative;
  }

  header {
    height: 100px;
    padding: 15px 50px;
  }

  .nav__menu {
    display: block;
  }

  .nav__links {
    display: none;
  }

  .nav__logo img {
    width: 71px;
    height: 65px;
  }

  section {
    scroll-margin-top: 99px;
  }

  #hero,
  #projectPage {
    margin-top: 100px;
    min-height: calc(100vh - 100px);
  }

  #projectPage .container {
    gap: 25px;
  }

  #projectPage .container__content:first-child {
    order: 2;
  }

  .pentagon {
    position: relative;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    background: none;
  }

  .projects__card {
    flex-basis: 100%;
  }

  #contact {
    min-height: calc(100vh - 200px);
    padding-top: 50px;
  }

  .container {
    flex-direction: column;
  }

  .hide-mobile {
    display: none;
  }

  .scrolltop.reveal {
    width: 3rem;
    height: 3rem;
  }

  .scrolltop i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .contact-social a i {
    font-size: 32px;
  }

  .container {
    flex-direction: column;
  }

  .scrolltop {
    right: 20px;
  }
}

@media screen and (max-width: 380px) {
  section {
    scroll-margin-top: 98px;
  }
}
